repos:
  # The following code can be uncommented to automatically keep all pre-commit rev's updated
  - repo: local
   # First a local check if new "rev" exists...
    hooks:
      - id: pre-commit-autoupdate
        name: Check for new rev with pre-commit autoupdate
        entry: "pre-commit autoupdate"
        language: system
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-yaml
      - id: check-symlinks
      - id: check-merge-conflict
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/ambv/black
    rev: "23.3.0"
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        name: nbqa-black
        description: "Run 'black' on a Jupyter Notebook"
        entry: nbqa black
        language: python
        require_serial: true
        types: [ jupyter ]
        additional_dependencies: [ black ]
  - repo: https://github.com/pycqa/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.0a6
    hooks:
      - id: pylint
        args:
          - --rcfile
          - setup.cfg
          - --disable
          - import-error
          - --output-format
          - colorized

