# Include the README
include README.rst

# Include the license file
include LICENCE.txt

# include IRF logo
include pyrfu/plot/logo/IRF_logo_blue_on_white.jpg

# include the MMS configuration files JSON
include pyrfu/mms/*.json

# include the MMS FEEPS sun contamination CSV files
include pyrfu/mms/sun/*.csv

# include the models CSV files
include pyrfu/models/*.csv

# include the PYRF configuration files JSON
include pyrfu/pyrf/*.json