# cat requirements.txt 
astropy>=4.2.1
cycler>=0.10.0
cython>=0.29.23
cdflib>=0.3.20
matplotlib>=3.4.1
numba>=0.53.1
numpy>=1.20.2
Pillow>=8.2.0
pandas>=1.2.4
pyfftw>=0.12.0
python-dateutil>=2.8.1
requests>=2.23.0
Sphinx>=3.5.4
scipy>=1.6.2
seaborn>=0.10.1
setuptools>=56.0.0
sfs>=0.5.0
tqdm>=4.60.0
xarray>=0.17.0
PyYAML>=5.4.1
pydata-sphinx-theme>=0.6.1